<div class="mb-3">
    <label class="form-label">Results</label>
</div>
<div class="list-group" *ngIf="SearchResults.length > 0">
    <button *ngFor="let result of SearchResults" (click)="SelectStop(result)" type="button" class="list-group-item list-group-item-action">{{ result.Stop.StopName }}</button>
</div>
<div class="alert alert-info" *ngIf="SearchResults.length === 0">
    No search results found
</div>