@import '/node_modules/leaflet/dist/leaflet.css';

.map-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
