<div class="alert alert-info" *ngIf="Loading">
    Loading Route Types...
</div>
<div class="form-check" *ngFor="let routeType of this.RouteTypes">
    <input class="form-check-input" type="checkbox" value="" id="routeType-{{routeType.Id}}" (change)="CheckboxChanged(routeType, $event)">
    <label class="form-check-label" for="routeType-{{routeType.Id}}">
        {{routeType.Name}}
    </label>
</div>