<div class="row">
  <div class="col">
    <h3>Departures</h3>
  </div>
  <div class="col">
    <div class="dropdown btn-group w-100">
        <div *ngIf="Directions !== null" class="w-100">
        <a class="btn btn-outline-secondary dropdown-toggle w-100" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ SelectedDirection === null ? "No Direction Selected" : SelectedDirection.Name }}
        </a>
        <ul class="dropdown-menu w-100">
          <li><a class="dropdown-item" *ngFor="let dir of Directions" (click)="SelectedDirection = dir">{{ dir.Name }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<p>Current Time: {{ Now | date: 'h:mm a' }}</p>
<div class="alert alert-warning" *ngIf="Directions === null">
  Please select a route
</div>
<div class="alert alert-warning" *ngIf="SelectedDirection === null">
  Please select a direction
</div>
<div class="list-group" *ngIf="SelectedDirection !== null">
  <div class="list-group-item"  *ngFor="let departure of Departures">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ departure.DepartText }}</h5>
    </div>
    <small class="text-muted">{{ departure.DepartTime | date: 'hh:mm a' }}</small>
  </div>
</div>
