<h3>Select A Route</h3>
<div class="list-group">
  <a class="list-group-item list-group-item-action" *ngFor="let result of Routes" (click)="SelectRoute(result)">
    [{{ result.RouteNumber }}] - {{ result.RouteName }}
  </a>
</div>
