<div class="row g-2">
    <div class="col-md-10">
        <input class="form-control" [(ngModel)]="SearchQuery" type="text" placeholder="Flinders Street Station" />
    </div>
    <div class="col-md-2 btn-group">
        <button class="btn btn-primary" (click)="SearchButtonPress()">Search</button>
    </div>
</div>