<div class="mb-3">
  <h1>{{ StopName }}</h1>
</div>
<div class="mb-3" *ngIf="IsLoading">
    <div class="alert alert-info">
      Loading Stop Information...
    </div>
</div>
<div class="row align-items-start">
  <div class="col-lg mb-3">
    <div class="mb-3">
      <app-pt-map></app-pt-map>
    </div>
    <div class="mb-3">
      <app-pt-stop-delays></app-pt-stop-delays>
    </div>
  </div>
  <div class="col-lg mb-3">
    <div class="mb-3">
      <app-pt-stop-departures></app-pt-stop-departures>
    </div>
    <div class="mb-3">
      <app-pt-stop-routes></app-pt-stop-routes>
    </div>
  </div>
</div>
