<div class="mb-3">
  <h2>Search For Stops</h2>
</div>
<div class="mb-3">
  <app-list-route-types (routeSelectionChanged)="RouteTypeSelectionChange($event)"></app-list-route-types>
</div>
<div class="mb-3">
  <app-search-bar (searchButtonPress)="SearchButtonPress($event)"></app-search-bar>
</div>
<div class="mb-3 alert alert-danger" *ngIf="Error !== null">
  {{ Error }}
</div>
<div class="mb-3">
  <app-stop-search-results (selectedStop)="ChangeRouteToStopInformation($event)"></app-stop-search-results>
</div>
